
body{
    background-color: rgb(170, 235, 235);
}
h1{
    background-color: blue;
    text-align: center;
    color:white
}
img{
    width:40%;
     height:20%;
    margin:1px auto;
    display: block;
}
section{
    background-color: rgb(135, 180, 222);
}
fieldset{
    background-color: cornsilk;
    margin:3%;
    padding:3% ;

}
legend{
    text-align: center;
}
ul{
    text-decoration-color: darkmagenta;
}